<h1>About Octopus</h1>
<img src="/assets/startupStockPhoto3.jpg" alt="generic stock photo">
<p>Customer launch party MVP beta crowdsource funding first mover advantage early 
adopters burn rate focus pitch business-to-consumer. Bandwidth hackathon stock A/B 
testing ownership series A financing marketing. Startup branding holy grail business 
model canvas entrepreneur funding learning curve A/B testing freemium accelerator
success hackathon. </p>

<img src="/assets/startupStockPhoto.jpg" alt="generic stock photo">
<p>Customer launch party MVP beta crowdsource funding first mover advantage early 
adopters burn rate focus pitch business-to-consumer. Bandwidth hackathon stock A/B 
testing ownership series A financing marketing. Startup branding holy grail business 
model canvas entrepreneur funding learning curve A/B testing freemium accelerator
success hackathon. </p>

<img src="/assets/startupStockPhoto2.jpg" alt="generic stock photo">
<p>Twitter innovator ecosystem conversion business-to-consumer direct 
mailing supply chain. Channels marketing pivot crowdsource niche market innovator success 
validation. Advisor leverage gen-z paradigm shift prototype. Ecosystem funding branding 
business-to-consumer seed money niche market social media gamification hypotheses venture 
buzz analytics infrastructure hackathon.</p>