<h1>Contact Us</h1>

<h2>What is this Regarding?</h2>
    <select>
        <option>Inquiry</option>
        <option>Investment</option>
        <option>Opportunity</option>
    </select>
<h2>How did you hear about Octopus?</h2>
    <select>
        <option>Friend</option>
        <option>Family</option>
        <option>News Media</option>
        <option>My Uncle</option>
    </select>
<h2>How should we contact you?</h2>
    <div>
        <input type="radio" name="phone" value="phone">
        <label for="phone">Telephone</label>
    </div>
    <div>
        <input type="radio" name="email" value="phone">
        <label for="email">Email</label>
    </div>
    <div>
        <input type="radio" name="address" value="phone">
        <label for="address">Visit my Physical Address</label>
    </div>
    <div>
        <button type="submit">Send Message</button>
    </div>
</form>